body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

.url-box,
.input-box {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

.summary {
  background: #1e293b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.chat-box {
  margin-top: 15px;
  height: 250px;
  overflow-y: auto;
  border: 1px solid #334155;
  padding: 10px;
}

.user {
  color: #38bdf8;
  margin-bottom: 8px;
}

.bot {
  color: #22c55e;
  margin-bottom: 8px;
}